.wp-block-gutenberg-test-step-one {
  color: green;
  background: #cfc;
  border: 2px solid #9c9;
  padding: 20px;
}

.wp-block-gutenberg-test-step-two {
  color: purple;
  background: #cfc;
  border: 2px solid #9c9;
  padding: 20px;
}

.wp-block-gutenberg-test-step-three {
  color: white;
  background: black;
  border: 2px solid #9c9;
  padding: 20px;
}
